<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" href="/webix/codebase/webix.css" type="text/css"> 
    <script src="/webix/codebase/webix.js" type="text/javascript"></script>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
        	var promise = webix.ajax().get("woa/bookmarks");
        	webix.ui({
			   	rows:[

				      { type:"header", template:"My Bookmarks!" },
			{ cols:[

				      { view:"datatable",
				      	id: "bookmarks",
				        autoConfig:true,
				        editable:true,
				        data: #{locals.bookmarks}
				        /*[
				          {title:"A bookmark", url:"dkfokf/link"},
				          {title:"A bookmark", url:"dkfokf/link"},
				          {title:"A bookmark", url:"dkfokf/link"},
				          {title:"A bookmark", url:"dkfokf/link"}
				        ] */
				      },
				      { view: "resizer"}
				  	// more columns
				  	]}
				  ]
			});


			$$("bookmarks").select(1);
        </script>
    </body>
</html>