doctype html
html(lang='en')
	head
		link(rel='stylesheet' href='/webix/codebase/webix.css' type='text/css')
		script(src='/webix/codebase/webix.js' type='text/javascript')
	body
		script(type='text/javascript')
		div#main
		webix.ui({
			rows: [
				{type:"header", template: "My bookmarks!"},
				{
				cols: [
				
				]
				}
			]
		})